.cart-container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
}

.cart-inner-container {
  width: 95%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cart-inner-container {
    justify-content: center;
    align-items: center;
  }
}
